<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vartotoju ivedimo forma</title>
  </head>
  <body>
    {{!-- irasom pavadinima partaim failo be extention --}}
    {{>menu}}
    <h1>Iveskite vartotojo duomenis</h1>
    <form action="/user/add" method="POST">
      <input type="text" name="vardas" /><br />
      <input type="text" name="pavarde" />
      <button type="submit">Issiusti</button>
    </form>
    <!-- jei image butu public kataloge, rasytume src="userpic.png" -->
    <img src="image/userpic.png" alt="user" />
  </body>
</html>
