<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skaiciuokle</title>
    <!-- geriau "/" deti pries css (kai nurodom folderi) del url -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {{>counter}}
    <div class="content">
      <h1>Iveskite skaicius</h1>
      <br />
      <form action="/rezultatas" method="POST">
        <input type="number" name="number1" /><br /><input
          type="number"
          name="number2"
        />
        <br />
        <button type="submit">Issiusti</button>
      </form>
      <br />
      <img src="/img/images.jpeg" alt="numbers" />
    </div>
  </body>
</html>